/*广告轮播*/
.banner{
    width: 100%;
    height: 510px;
    position: relative;
}
.banner-bg{
    position: relative;
    top: 0;
    left: 0;
    z-index: 50;
}
.banner-bg li{
    width: 100%;
    height: 401px;
}
.banner-bg1{
    background: url("../images/flash_bg01.jpg") repeat-x;
}
.banner-bg2{
    background: url("../images/flash_bg02.png") repeat-x;
}
.banner-bg3{
    background: url("../images/flash_bg03.png") repeat-x;
}
.banner-conCur{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 510px;
    z-index: 100;
}
.banner-con{
    width: 1000px;
    height: 510px;
    position: relative;
    margin: 0 auto;

}
.banner-con i{
    display: block;
}
.banner-bg1-con1{
    width: 432px;
    height: 53px;
    background: url("../images/fla_zi_01.png") no-repeat;
    top: 90px;
    left: 120px;
    position: absolute;
}
.banner-bg1-con2{
    width: 434px;
    height: 36px;
    background: url("../images/fla_zizi_01.png") no-repeat;
    position: absolute;
    top: 145px;
    left: 120px;
}
.banner-bg1-con3{
    position: absolute;
    top: 186px;
    left: 120px;
    width: 500px;
    height: 170px;
}
.banner-bg1-con3 li{
    float: left;
    margin: 10px 60px 0 0;
}
.banner-bg1-con3 li a{
    display: block;
    width: 60px;
    height: 75px;
    overflow: hidden;
    background: url("../images/fla_btn_01.png") no-repeat;
    text-indent: -99px;
}
.banner-bg1-con3 .banner-conlist-1{
    background-position: 0 0;
}
.banner-bg1-con3 .banner-conlist-2{
    background-position: -120px 0;
}
.banner-bg1-con3 .banner-conlist-3{
    background-position: -240px 0;
}
.banner-bg1-con3 .banner-conlist-4{
    background-position: -365px 0;
}
.banner-bg1-con3 .banner-conlist-5{
    background-position: 5px -80px;
}
.banner-bg1-con3 .banner-conlist-6{
    background-position: -115px -80px;
}
.banner-bg1-con3 .banner-conlist-7{
    background-position: -235px -80px;
}
.banner-bg1-con3 .banner-conlist-8{
    background-position: -360px -80px;
}
.banner-bg1-con3 li a:hover{
    opacity: 0.8;
}

.banner-bg1-con4{
    background: url("../images/fla_01.png") no-repeat;
    position: absolute;
    top: 25px;
    left: 660px;
    width: 320px;
    height: 485px;
}
.banner-bg2-con1{
    position: absolute;
    /*left: 170px;*/
    top: 134px;
    left: -99em;
    width: 250px;
    height: 116px;
    background: url("../images/fla_zi_02.png") no-repeat;

}
.banner-bg2-con2{
    position: absolute;
    top: 30px;
    /*left: 489px;*/
    left: -99em;
    width: 506px;
    height: 485px;
    background: url("../images/fla_02.png") no-repeat;
}
.banner-bg2-con3{
    position: absolute;
    top: 200px;
    /*left: 165px;*/
    left: -99em;
    width: 230px;
    height: 93px;
    background: url("../images/fla_zizi_02.png") no-repeat;
}


.banner-bg3-con1{
    position: absolute;
    top: 137px;
    /*left: 159px;*/
    left: -99em;
    width: 351px;
    height: 95px;
    background: url("../images/fla_zi_03.png") no-repeat;
}
.banner-bg3-con2{
    position: absolute;
    top: 233px;
    /*left: 159px;*/
    left: -99em;
    width: 173px;
    height: 77px;
    background: url("../images/fla_zizi_03.png") no-repeat;
}
.banner-bg3-con3{
    position: absolute;
    top: 68px;
    /*left: 540px;*/
    left: -99em;
    width: 447px;
    height: 401px;
    background: url("../images/fla_03.png") no-repeat;
}
.banner-btn{
    width: 100%;
    height: 20px;
    margin-top: 22px;
    position: absolute;
    z-index: 100000;
}
.banner-btn ul{
    width: 39px;
    height: 20px;
    margin: 0 auto;
}
.banner-btn ul li{
    width: 8px;
    height: 8px;
    float: left;
    margin-left: 5px;
}
.banner-btn ul li a{
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #9c9c9c;
}
.banner-btn ul li.checked a{
    background: #f57406;
}

/*支持微信支付商家模块*/
.demo{
    width: 1000px;
    height: 568px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.demo h3{
    font-size: 20px;
    color: #595959;
}
.demo-common{
    width: 1000000%;
    height: 480px;
}
.demo-common ul{
    float: left;
    width: 1100px;
}
.demo-common ul li{
    float: left;
    width: 174px;
    height: 174px;
    background: url("../images/demo_bg.png") no-repeat right 88px;
    margin: 33px 0;
    padding-right: 101px;
}
.demo-common ul li a{
    display: block;
    width: 174px;
    height: 174px;
}
.demo-btn{
    width: 64px;
    height: 32px;
    position: absolute;
    bottom: 24px;
    right: 46px;
}
.demo-btn a{
    display: inline-block;
    width: 32px;
    height: 32px;
    float: left;
}
.demo-btn a.next{
    background: url("../images/index_btn.png") no-repeat 0 -37px;
}
.demo-btn a.pre{
    background: url("../images/index_btn.png") no-repeat -3px -70px;
}


























































