@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,div,ul,li,dl,dt,dd,p,form,span,em,i,strong,b,input,select,option,textarea,label,a,img{ margin:0px; padding:0px;}
ul,ol{list-style: none}
li{ list-style:none;}
em,i{ font-style:normal;}
img{ border:none; vertical-align:top;}
a{ text-decoration:none;}
input,textarea{ outline:none;}
.clearFix{zoom: 1;}
.clearFix:after{ content:"."; display:block; clear:both; visibility:hidden; height:0;}
.fl{float: left;}
.fr{float: right;}
.hidden{
    display: none;
}